.submit-button {
  height: 42px;
  border-radius: 21px;
  background-color: #00c67b;
  box-shadow: 0 6px 10px -5px rgba(0, 198, 123, 0.35);
  padding: 0 1.75em;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}
.submit-btn {
  width: 100%;
}
.button {
  height: 42px;
  border-radius: 21px;
  background-color: #00c67b;
  box-shadow: 0 6px 10px -5px rgba(0, 198, 123, 0.35);
  padding: 0 1.75em;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}
