.page {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

@import "./styles/components/button_google.scss";
@import "./styles/components/error.scss";
@import "./styles/components/buttons.scss";
@import "./styles/components/texts.scss";
@import "./styles/components/common.scss";

@import "./styles/variables.scss";

.registration {
  display: flex;
  @import "./styles/leftBar.scss";
  .step-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    @import "./styles/step1.scss";
    @import "./styles/step2.scss";
    @import "./styles/step3.scss";
    @import "./styles/step4.scss";
  }
}

@import "./styles/login.scss";
@import "./styles/account.scss";
